.link {
  background-color: transparent;
  border: 0;
  color: #03286a;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/arrow-down.png") no-repeat right white !important;
  appearance: none;
}

.btnExcluir {
  float: right;
  cursor: pointer;
}

// .box {
//   display: inline-block !important;
// }

//MODAL
